# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environments
venv/
env/
.venv/
myenv/

# IDE
.idea/

# OS
.DS_Store
Thumbs.db 
